@font-face {
    font-family: 'Dagger';
    src: url('./DAGGERSQUARE.otf');
}
* {
    color: #B30D02;
    font-family: 'Dagger', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BDBDBD;
   
    font-weight: 400;
}

p {
    margin: 0;
}

.bottom-options {
    display: flex;
}

.container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 10px solid #616161;
}

.row {
    display: flex;
    flex: 1;
}

.interact {
    display: flex;
    flex-direction: column;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
}

#picker-div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
}

.square {
    flex: 1;
    border: 0.25px solid black;
}

input[type='radio']{ 
    display:none; 
}

label, #picker-div, .clear {
  border:1px solid #9A0002;
  background-color: black;
  text-align:center;
}

label {
    padding: 4px;
}

#colorPicker {
    border: none;
}
